.block-workspace {
  width: 100%;
  height: 100%;
  overflow: visible;
  touch-action: none;
}

.block-input-has-block > .block-input-back,
.block-input-has-block > .block-input-value {
  visibility: hidden;
}
.block-input-open > .block-input-value {
  opacity: 0;
}

.block-hidden {
  display: none;
}
.block-input {
  -webkit-appearance: none;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  position: absolute;
}

.block-back {
  fill: var(--colour);
}

.block-text-component {
  dominant-baseline: central;
  white-space: pre;
  user-select: none;
}
