.block-hidden {
  display: none;
}

.block-dragged {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}
.block-dragging-blocks {
  cursor: grabbing;
}
.block-dragging-blocks .block-dragged {
  display: block;
}

.block-snap-marker {
  stroke: white;
  fill: none;
}
.block-input-drop-target {
  filter: url('#block-snap-glow');
}

/* component */
.block-text-component {
  dominant-baseline: central;
  white-space: pre;
  user-select: none;
}

/* workspace */
.block-workspace {
  width: 100%;
  height: 100%;
  touch-action: none;
}
.block-input {
  -webkit-appearance: none;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  position: absolute;
}

/* scrollbar */
.block-scrollbar {
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.2);
  rx: 2.5px;
  ry: 2.5px;
}
.block-scrollbar-vertical {
  width: 5px;
  x: calc(var(--window) - 10px);
  y: calc(var(--offset) + 5px);
  height: calc(var(--range) - 10px);
}
.block-scrollbar-horizontal {
  height: 5px;
  y: calc(var(--window) - 10px);
  x: calc(var(--offset) + 5px);
  width: calc(var(--range) - 10px);
}

/* block */
.block-back {
  fill: var(--colour);
}

/* input */
.block-input-has-block > .block-input-back,
.block-input-has-block > .block-input-value {
  visibility: hidden;
}
.block-input-open > .block-input-value {
  opacity: 0;
}
