.block-hidden {
  display: none;
}

/* blocks */
.block-dragged {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}
.block-dragging-blocks {
  cursor: grabbing;
}
.block-dragging-blocks .block-dragged {
  display: block;
}

.block-snap-marker {
  stroke: white;
  fill: none;
}
.block-input-drop-target {
  filter: url('#block-snap-glow');
}

/* component */
.block-text-component {
  text-anchor: middle;
  dominant-baseline: central;
  white-space: pre;
  user-select: none;
}

/* workspace */
.block-workspace-wrapper {
  position: relative;
  touch-action: none;
}
.block-workspace {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: absolute;
}
.block-input-elem {
  -webkit-appearance: none;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  position: absolute;
}

/* scrollbar */
.block-scrollbar-wrapper {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* For some reason I was able to select and drag text when dragging the
   * scrollbars?? */
  user-select: none;
}
.block-no-scroll {
  display: none;
}
.block-scrollbar {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.block-scrollbar-wrapper:hover .block-scrollbar,
.block-scrollbar-wrapper.dragging .block-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
}
.block-scrollbar-vertical {
  width: 25px;
  right: 0;
  top: var(--offset);
  height: var(--range);
}
.block-scrollbar-horizontal {
  height: 25px;
  bottom: 0;
  left: var(--offset);
  width: var(--range);
}

/* block */
.block-back {
  fill: var(--colour);
}

/* input */
.block-input-has-block > .block-input-back,
.block-input-has-block > .block-input-value {
  visibility: hidden;
}
.block-input-open > .block-input-value {
  opacity: 0;
}
